<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать заказ</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
<h1>Редактировать заказ</h1>
<form th:action="@{/order/edit/{id}(id=${order.id})}" method="post" th:object="${order}">
    <input type="hidden" th:field="*{id}" />

    <label for="customerName">Имя клиента:</label>
    <input type="text" id="customerName" name="customerName" th:field="*{customerName}" /><br/>

    <label for="totalPrice">Общая стоимость:</label>
    <input type="text" id="totalPrice" name="totalPrice" th:field="*{totalPrice}" /><br/>

    <label for="orderDate">Дата заказа:</label>
    <input type="text" id="orderDate" name="orderDate" th:field="*{orderDate}" /><br/>

    <input type="submit" value="Сохранить" />
</form>
</body>
</html>
