<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Главная страница</h1>
</header>
<nav>
    <ul class="menu">
        <li><a href="/user" class="btn">Список пользователей</a></li>
        <li><a href="/user/new" class="btn">Создать пользователя</a></li>
        <li><a href="/products" class="btn">Список продуктов</a></li>
        <li><a href="/products/new" class="btn">Создать продукт</a></li>
        <li><a href="/category" class="btn">Список категорий</a></li>
        <li><a href="/orders" class="btn">Список заказов</a></li>
        <li><a href="/orders/new" class="btn">Создать заказ</a></li>
        <!-- Добавьте кнопки для других страниц по аналогии -->
    </ul>
</nav>
</body>
</html>
